doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='bootstrap-css/css/bootstrap.css')
  link(rel='stylesheet' href='css/style.css')
  title Registration

nav.navbar.navbar-expand-lg.bg-light.pb-4
  .container-fluid
    a.navbar-brand(href='#' style='font-weight: bolder; font-size: 25px;') Ufarm
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Home
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Dropdown
          ul.dropdown-menu
            li
              a.dropdown-item(href='#') Action
            li
              a.dropdown-item(href='#') Another action
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='#') Something else here
        li.nav-item
          a.nav-link.disabled Disabled
    form(method="POST" action='/logout')
      button.btn.btn-style(type='submit') Logout

.container-fluid.form-style
  form#signup.form(action='/register' name='registration' method='POST' onsubmit="return Validate();")
    h3 FarmerOne Registration Form
    hr
    .row
      .col
        .form-field
          label(for='surname')
            | Surname:
            small  *
          input#surname(type='text' name='surname' autocomplete='off')
          small#nameerr
        .form-field
          label
            | NIN Number:
            small  *
          input#ninnumber(type='text' name='ninnumber' autocomplete='off' placeholder="forexample UF-001")
          small#ninnumbererr
        .form-field
          label(for='raddress') Address:
          select#address(name='raddress')
            option Kololo
            option Nddeba
            option Busega
          small#adresserr
      .col
        .form-field
          label(for='ward')
            | Ward:
            small  *
          input#ward(type='text' name='ward' autocomplete='off')
        .form-field
          label(for='dob')
            | Date of Birth:
            small  *
          input#dob(type='date' name='dob' autocomplete='off')
          small
        .form-field
          label(for='type') Resident Type:
          select(name='residenttype' id='')
            option(value ="") Select Resident Type
            option(value ="Permanent") Permanent
            option(value ="Temporary") Temporary      
      .col
        .form-field
          label(for='phonenumber')
            | Phone Number:
            small  *
          input#phonenumber(type='text' name='phonenumber' autocomplete='off')
        .form-field
          label(for='dor')
            | Date of Registration:
            small  *
          input#dor(type='date' name='dor' autocomplete='off')
          small
        .form-field
          label Period of stay:
          select#pos(name='pos')
            option 10
            option 20
          small#poserr
      .col
        .form-field
          label(for='ward')
            | Password:
            small  *
          input#password(type='password' name='password' autocomplete='off')
          small#passworderr
        .form-field
          label(for='dob')
            | Confirm Password:
            small  *
          input#confirmpassword(type='password' name='confirmpassword' autocomplete='off')
          small#confirmpassworderr
        .form-field
          label(for='')
            | Unique Number:
            small  *
          input#uniquenumber(type='text' name='uniquenumber' autocomplete='off')
          small#uniquenumbererr     
      .col
        .form-field
          label(for='type') Role:
          select#role(name='role')
            option(value = "selectrole") Select Role
            option(value = "farmerOne") Farmer One
            option(value = "urbanfarmer") Urban Farmer
          small#roleerr
      .form-field
        input.btn.register-btn(type='submit' value='Register')
script(src='bootstrap-js/js/bootstrap.bundle.js')
script(src='/js/formvalidation.js')
