doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet' href='css/style.css')
    title Registration

nav.navbar.navbar-expand-lg.bg-light.pb-4
    .container-fluid
        a.navbar-brand(href='#' style='font-weight: bolder; font-size: 25px;') Ufarm
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(aria-current='page' href='#') Home
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Dropdown
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href='#') Action
                        li
                            a.dropdown-item(href='#') Another action
                        li
                            hr.dropdown-divider
                        li
                            a.dropdown-item(href='#') Something else here
                li.nav-item
                    a.nav-link.disabled Disabled
            form.d-flex.mt-2(role='search')

                a.btn.btn-style(href='home-page.html') Back
.container-fluid.form-style
form#signup.form(action='#' name='registration' enctype="multipart/form-data" method='post')
    h5.text-muted.text-center Add Your Produce Details Here
    hr
    .row
        .col
            .form-field
                label(for='ward') Procude Name:
                select(name='producename' id='')
                    option(value='ug') Select Produce
                    option(value='ug') Ward 1
                    option(value='ke') Ward 2
                    option(value='tz') Ward 3
                    option(value='tz') Ward 4
        .col
            .form-field
                label(for='lastname')
                    | Ward:
                    small.asterisk  *
                input#lastname(type='text' name='ward' autocomplete='off' value='ward 1')
        .col
            .form-field
                label(for='regdate')
                    | Date of Registration:
                    small.asterisk  *
                input#regdate(type='date' name='regdate' autocomplete='off')

    .row
        .col
            .d-flex.form-field.mb-0
                div
                    label(for='ninnumber')
                        | Price:
                        small.asterisk  *
                    input#ninnumber(style='width: 60px;' type='text' name='ninnumber' autocomplete='off' value='UGX' disabled='')
                .form-field
                    input#phonenumber.ml-2.flex-fill(style='margin-top:29px; width: 280px;' type='text' name='phonenumber' value='Enter Price' autocomplete='off')
        .col
            .form-field
                label(for='birthdate')
                    | Quantity
                    small.asterisk  *
                input#birthdate(type='text' name='birthdate' autocomplete='off')
        .col
            .form-field
                label(for='ward') Mode of Delivery:
                select(name='ward' id='')
                    option(value='ug') Pick Up
                    option(value='ke') Home Delivery
    .row
        .col
            .form-field
                label(for='gender') Product Type:
                .radio
                    input#gender1(type='radio' name='gender' autocomplete='off' checked='')
                    span Organic
                    input#gender2(type='radio' name='gender' autocomplete='off')
                    span NoneOrganic
        .col
            .form-field
                label(for='gender') Mode of Payment:
                .activity
                    input#gender1(type='checkbox' name='register' autocomplete='off' value='eng' checked='')
                    span HomeDelivery
                    input#gender2(type='checkbox' name='approve' autocomplete='off' value='lug')
                    span Cash
        .produce-img.mt-2.mb-3
            .d-flex.flex-column.align-items-center.pt-
            input#gender1(type='file' name='uploadimage' autocomplete='off' value='eng' checked='')
                img(src='../images/cloud1.png' alt='')
                span.mt-2 Upload your Produce Image Here
    p.text-muted Add Your Direction Coordinates

    .row
        .col
            .form-field
                label(for='lat')
                    | latitude:
                    small.asterisk  *
                input#lat(type='text' name='lat' autocomplete='off')
        .col
            .form-field
                label(for='longt')
                    | longitude:
                    small.asterisk  *
                input#longt(type='text' name='longt' autocomplete='off')
        .col
            .form-field
                label(for='longt')
                    | Supplier ID
                select(name='supplier')
                    each urbanfarmer in urbanfarmers
                    option(value = urbanfarmer._id) #{urbanfarmer.firstname +""+ urbanfarmer.lastname}
                    small.asterisk  *
    .container.FO-form-btn
        .coordinate-container
            button.btn.coordinate-btn(type='submit')
                | Find Area Coordinates
        .button1
            button.btn.btn-primary.mt-1.form-add-btn.mr-auto(type='submit')
                | Add
                | New
        .button1
            button.btn.btn-primary.mt-1.ml-4.form-clear-btn.mr-auto(type='submit')
                | style=&quot;width:120px ;&quot;&gt;
                | Clear


script(src='bootstrap-js/js/bootstrap.bundle.js')